/* ==========================================================================
Content
========================================================================== */
$primary-color: #CC0033;
$black-color: #000000;
$background-color: rgba(#696687,0.1);
.app-loading {
  display: none;
}

.main{
  background-color: $background-color;
  .section-common
  {
    padding: 0 30px;
  }
}

.section1
{
  .section1-wrapper
  {
    .section1-js {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);

      .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        .section1-js-text {
          position: absolute;
          z-index: 1;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          .section1-js-text_tittle {
            font-size: 4.5rem;
            font-weight: 600;
            width: 70%;
          }

          .section1-js-text_subtittle {
            font-size: 1.3rem;
            width: 60%;
          }
        }


        .section1-js-link {
          width: fit-content;
          position: relative;
          width: 100%;

          .section1-js-img {
            transition: all 8s; /* Animation */
            width: 100%;
          }
        }

        .section1-js-img:hover {
          transform: scale(1.3)
        }
      }
    }
  }
}

.section2
{
  .section2-wrapper
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section2-title
    {
        text-align: center;
        color: $primary-color;
        font-weight: 600;
        font-size: 2rem;
        padding: 40px;
    }

    .section2-content
    {
      position: relative;
      width: fit-content;
      .background
      {
        position: relative;
        @media (max-width: 768px)
        {
          display: none;
        }
      }
      .img-content{
        display: flex;
        justify-items: center;
        position: absolute;
        @media (max-width: 768px)
        {
          position: relative;
          flex-direction: column;
          align-items: center;
        }
        height: 100%;
        top: 0;
        .content
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.3rem;
        }
        .section2-img
        {
          height: 100%;
          @media (max-width: 768px)
          {
            width: 100%;
          }
        }
      }
    }
  }
}
.section3
{
  position: relative;

  .section3-tittle
  {
    text-align: center;
    color: $primary-color;
    font-weight: 500;
    padding: 40px 0;
    font-size: 2rem;
  }

  .row {
    justify-content: center;
    .section3-block_item {
      padding: 0 10px 20px 10px;
      .card {
        align-items: center;
        justify-content: center;
        height: 217px;
        border-radius: 1rem;
        .card-img-top {
          width: 40%;
          position: relative;
          padding-top: 10%;
        }
        .card-text
        {
          text-align: center;
        }

        .card-img-black {
          position: absolute;
          top: -10px;
          display: none;
        }

        .card-body{
          display: flex;
          align-items: center;
        }
      }
      .card:hover
      {
        background-color: $black-color;
        color: white;
        .card-img-black {
          display: block;
        }
        .card-img{
          display: none;
        }
        .card-body
        {
          padding-top: 25%;
        }
      }
    }
  }
}
.section4
{
  .section4-wrapper
  {
    .section4-title
    {
      text-align: center;
      color: $primary-color;
      font-weight: 500;
      padding: 40px 0;
      font-size: 2rem;
    }
    .section4-content
    {
      .col-lg-3
      {
        .card
        {
          padding: 30px 0;
          margin: 24px 0;
          text-align: center;
          border-radius: 10px;
          .card-body
          {
            .card-title
            {
              font-size: 60px;
              color: #cc0033;
              font-weight: 600;
            }
            .card-text
            {
              color: #3A3564;
              font-size: 18px;
            }
          }
        }
      }
      .col-lg-6
      {
        .section4-img
        {
          width: 90%;
        }
      }
    }
  }
}
.section5
{
  .section5-wrapper{
    .section5-title
    {
      text-align: center;
      color: $primary-color;
      font-weight: 500;
      padding: 40px 0;
      font-size: 2rem;
    }
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }

    /* Container around content */
    .container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%;
    }

    /* The circles on the timeline */
    .container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -12px;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Place the container to the left */
    .left {
      left: -25%;
      @media (max-width: 767px)
      {
        left: 1%;
      }
      h2
      {
        color: $primary-color;
      }
      .section5-company_name
      {
        color: $primary-color;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
    .left::after
    {
      background-color: $primary-color;
    }

    /* Place the container to the right */
    .right {
      left: 25%;

      h2 {
        color: $black-color;
      }

      .section5-company_name
      {
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
    .right:after
    {
      background-color: $black-color;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
      left: -13px;
    }

    /* The actual content */
    .content {
      padding: 20px 30px;
      background-color: white;
      position: relative;
      border-radius: 6px;

    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
      /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }

      /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }

      /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

      /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }

      /* Make all right containers behave like the left ones */
      .right {
        left: 1%;
      }
    }
  }
}
.section6
{
  .container {
    display: flex;
    justify-content: center;
    .section6-wrapper {
      text-align: center;
      .section6-title {
        text-align: center;
        color: $primary-color;
        font-weight: 500;
        padding: 20px 0;
        font-size: 2rem;
      }

      .section6-content {
        .row {
          .section6-item {
            display: flex;
            justify-content: center;
            padding: 30px 100px;
            .section6-item-wrapper {
              height: 60px;
              .section6-img {
                //display: none;
                filter: grayscale(1);
                transition: all .3s;
                width: 100%;
                height: 100%;
              }
            }
          }

          .section6-item:hover {
            .section6-item-wrapper {
              .section6-img {
                filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}
.section7
{
  .container {
    display: flex;
    justify-content: center;
    .section7-wrapper {
      width: 85%;
      .section7-tittle {
        text-align: center;
        color: $primary-color;
        font-weight: 500;
        padding: 40px 0;
        font-size: 2rem;
      }

      .section7-content {
        .row {
          .section7-item {
            a {
              text-decoration: none;
              color: $black-color;
              .card {
                .card-body {
                  .card-title {
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;

                  }
                }
              }
            }
            }
          }
        }
      }
      .section7-btn {
        display: flex;
        justify-content: center;
        .btn {
          background-color: $primary-color;
          margin: 40px 0;
          border: none;
          .section7-btn-link
          {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 500;
            padding: 15px 30px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
}

.section8
{
    .container
    {
      display: flex;
      justify-content: center;
    .section8-wrapper {
      width: 85%;
      padding: 40px 0;
      .row {
        .section8-img {
          width: 100%;
        }

        .section8-form {
          .section8-form-tittle {
            text-align: center;
            color: $primary-color;
            font-weight: 500;
            padding: 10px 0;
            font-size: 2rem;
          }

          .section8-form-btn {
            display: flex;
            justify-content: center;

            .btn {
              background-color: $primary-color;
              margin: 40px 0;
              border: none;
              border-radius: 10px;
              text-transform: uppercase;
              font-size: 0.8rem;
              font-weight: 500;
              padding: 15px 30px;
            }
          }
        }
      }
    }
  }
}

.footer
{
  background-color: $black-color;
  .container {
    display: flex;
    justify-content: center;
    .footer-wrapper {
      width: 85%;
      .footer-title {
        padding: 20px 0;

        .footer-title-item {
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 20px;
        }
      }

      .footer-content {
        padding: 20px 0;

        .footer-content-items {
          color: #ffffff;

          .footer-logo {
            padding: 10px 0;
          }

          .footer-content-items_text {
            padding: 10px 0;
          }

          .footer-content-connect {
            .footer-content-connect_wrapper {
              .connect-tittle {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                padding-bottom: 10px;
              }

              .connect-icon {
                display: flex;
                justify-content: space-around;
                width: 30%;

                a {
                  color: #ffffff;
                }
              }
            }
          }

          .footer-content-items-block {
            padding: 10px 0;

            .footer-content-items-block-tittle {
              font-size: 18px;
              text-transform: uppercase;
            }

            .footer-content-items-block-content {
              font-size: 14px;

              p {
                margin-bottom: 0;
              }
            }

            .footer-content-items-block-content p:hover {
              color: $primary-color;
            }
          }

          .footer-content-items-tittle {
            font-size: 16px;
            text-transform: uppercase;
            padding: 2px;

            a {
              text-decoration: none;
              color: #ffffff;
            }
          }

          .footer-content-items-tittle a:hover {
            color: $primary-color;
          }
        }
      }

      .footer-copyright {
        color: #ffffff;
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}
